services:
  # Web application that works with elasticsearch. Allows user to visualize data
  kibana:
    image: docker.elastic.co/kibana/kibana:8.15.2
    container_name: kibana
    environment:
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
      - ELASTICSEARCH_USERNAME=kibana_system
      - ELASTICSEARCH_PASSWORD=kibana
    ports:
      - "5601:5601"
    healthcheck:
      test: ["CMD", "curl", "--user", "elastic:elastic", "http://localhost:5601"]
      interval: 10s
      timeout: 5s
      retries: 5