services:
  mysql:
    image: mysql:latest
    container_name: postgres
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: test
      MYSQL_USER: test
      MYSQL_PASSWORD: test
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
    driver: local